/*CONTENEDOR ASIDE*/
.contenedor_aside {
    position: fixed;
    left: -320px;
    width: 80px;
    height: 100%;
    background: white;
    top: 0;
    z-index: 99;
    transition: all .4s ease-in-out;
}

.contenedor_aside a {
    cursor: pointer;
}

/*CONTENEDOR NAV ICONOS*/
.contenedor_nav_iconos {
    height: 100vh;
    z-index: 99;
    position: relative;
    background: #f4f7fb;
    width: 80px;
}

.contenedor_nav_iconos .contenedor_menu_hamburguesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 70px;
}

.contenedor_nav_iconos .contenedor_menu_hamburguesa i {
    font-size: 18px;
    color: #4b4e50;
    cursor: pointer;
}

.contenedor_nav_iconos ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: #4b4e50;
    scrollbar-width: none;
    overflow: hidden scroll;
    padding: 10px 20px;
    height: calc(100% - 70px);
}

.contenedor_nav_iconos ul .nav_icono_seleccionado {
    background-color: #635BFF;
    color: white;
}

.nav_icono_seleccionado.no-hover {
    pointer-events: none;
}

.contenedor_nav_iconos ul li {
    padding: 12px;
    border-radius: 12px;
}

.contenedor_nav_iconos ul li:hover {
    background-color: #DDDBFF;
}

.contenedor_nav_iconos ul i {
    font-size: 18px;
    cursor: pointer;
}

/*FIN CONTENEDOR NAV ICONOS*/


/*CONTENEDOR NAV LINKS*/
.contenedor_nav_links {
    position: absolute;
    width: 240px;
    left: -240px;
    background: white;
    top: 0;
    transition: left .4s ease-in-out;
    height: 100%;
}

.contenedor_nav_links.estilo_abierto_contenedor_nav_links {
    left: 80px;
}

/*CONTENEDOR LOGO*/
.contenedor_logo {
    position: absolute;
    background: white;
    top: 0;
    padding: 0 24px;
    transition: left .4s ease-in-out;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*FIN CONTENEDOR LOGO*/

/*SIDEBAR NAV*/
.sidebar_nav {
    position: absolute;
    height: calc(100vh - 70px);
    top: 70px;
    transition: left .4s ease-in-out;
    z-index: 98;
    background-color: white;
    width: 100%;
    font-size: 15px;
    color: #29343D;
}

.sidebar_nav .sidebar_scroll {
    height: 100%;
    overflow: hidden scroll;
    direction: inherit;
    box-sizing: border-box !important;
    position: relative;
    display: block;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    scrollbar-width: none;
}

.sidebar_nav .nivel_1 {
    padding: 0px 20px;
}

.sidebar_nav li {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.sidebar_nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.sidebar_nav li .contenedor_a {
    width: 100%;
    display: flex;
    padding: 8px 15px;
    gap: 5px;
    align-items: flex-start;
    justify-content: space-between;}

.sidebar_nav li .contenedor_a a{
    display: flex;
    align-items: center;
    gap: 5px;
}

.sidebar_nav .nivel_2 li {
    padding-left: 15px;
}

.sidebar_nav ul .sidebar_nav_seleccionado {
    background-color: #635BFF;
    color: white;
    border-radius: 12px;
}

.sidebar_nav ul .contenedor_a:hover {
    color: #635BFF;
}

.sidebar_nav ul .sidebar_item_seleccionado {
    color: #635BFF;
}

.sidebar_nav_seleccionado.no-hover {
    color: white !important;
}

.ocultar_nivel {
    display: none !important;
}

.punto_item {
    font-size: 6px;
}

@media (min-width: 900px) {

    .contenedor_aside {
        left: 0;
    }

}

@media (max-width: 900px) {

    /*CONTENEDOR ASIDE*/
    .contenedor_aside {
        left: -320px;
    }

    .contenedor_aside.estilo_abierto_contenedor_aside {
        left: 0;
    }

}